<?xml version="1.0" encoding="utf-8"?>

<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
  <object name="BaseController" abstract="true">
    <property name="PageSize" value="${PageSize}">
    </property>
  </object>

  <object name="HomeController" type="MySpringNet.Controllers.HomeController,MySpringNet" parent="BaseController" singleton="false">
    
  </object>
</objects>
